.bouton {
  -fx-cursor: hand;
  -fx-background-color: #686d76;
  -fx-text-fill: #eeeeee;
}

.bouton .color-picker-label {
  -fx-text-fill: #eeeeee;
}

.bouton:hover {
  -fx-background-color: #373a40;
}

.start {
  -fx-cursor: hand;
  -fx-background-color: #dc5f00;
  -fx-text-fill: #eeeeee;
}

.start:hover {
  -fx-background-color: #843900;
}

.start:disabled {
  -fx-background-color: #686d76;
}

.boutonDroit {
  -fx-padding: 10px;
  -fx-border-insets: 10px;
  -fx-background-insets: 7px;
  -fx-margin-right: 10px;
}

.pts {
  -fx-cursor: grabbing;
}

#centeredText {
  -fx-alignment: center;
}

.menu {
  -fx-background-color: #eeeeee;
}
