.bouton {
  -fx-cursor: hand;
}

.boutonDroit {
  -fx-padding: 10px;
  -fx-border-insets: 10px;
  -fx-background-insets: 7px;
  -fx-margin-right: 10px;
}

.pts {
  -fx-cursor: grabbing;
}

#centeredText {
  -fx-alignment: center;
}
